<div ng-repeat="pedido in pedidos">
    <h3>Pedido #{{pedido.id}}</h3>
	
    <div ng-repeat="pedidoItem in pedido.itens|limitTo:1">
        <strong>Fornecedor:</strong>
        {{pedidoItem.produtoFornecedor.fornecedor.nome}}
        <strong> às </strong>
        {{pedido.dataPedido | date:'dd-MM-yyyy HH:mm:ss'}}
    </div>
    

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pedidoItem in pedido.itens">
                <td>{{pedidoItem.produtoFornecedor.produto.nome}}</td>
                <td>{{pedidoItem.quantidadeSolicitada}}</td>
                <td>{{pedidoItem.valor | currency}}</td>
                <td>{{pedidoItem.valor * pedidoItem.quantidadeSolicitada | currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr/>
</div>
